{% extends 'vacancies/base.html' %}
{% load humanize %}
{% load to_circle %}
{% block content %}
  <main class="container mt-3">
    <section>

        <h1 class="h1 text-center mt-5 mb-4">Поиск вакансий</h1>

        <div class="row">
            <div class="col-md-7 col-lg-5 col-xl-4 col-sm-8 mx-auto">

            <form class="form-inline sm-form mr-auto mb-4" enctype="multipart/form-data">
                <input class="form-control mr-sm-2" type="text" name="s" placeholder="Например: ios" value={{ query }} aria-label="Search">
                <button class="btn btn-primary  my-0" type="submit">Найти вакансии</button>
            </form>

            </div>
        </div>


      <p class="text-center pt-1">Найдено {{ vacancies.count }} вакансий</p>
      <div class="row mt-5">
        <div class="col-12 col-lg-8 offset-lg-2 m-auto">
          {% for vacancy in vacancies %}
          <div class="card mb-4">
            <div class="card-body px-4">
              <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                  <h2 class="h2 pb-2">{{ vacancy.title }}</h2>
                  <p class="mb-2">{{ vacancy.skills|to_circle:"," }}</p>
                  <p>От {{ vacancy.salary_min|intcomma }} до {{ vacancy.salary_max|intcomma }} руб.</p>
                  <p class="text-muted pt-1">{{ vacancy.published_at|date:"j E" }}</p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                  <a href="{% url 'single-vacancy' pk=vacancy.pk %}">
                    {% if vacancy.company.logo %}
                    <img src="{{ vacancy.company.logo.url }}" width="130" height="80" alt="">
                    {% else %}
                    <p>Логотип</p>
                    {% endif %}
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </main>
{% endblock %}