{% extends 'vacancies/base.html' %}
{% load humanize %}
{% load to_circle %}
{% block content %}
  <main class="container mt-3">
    <section>
      {% if all_vacancies %}
      <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>Поиск вакансий</strong></h1>
      <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-lg-3 offset-md-2">
          <form class="form-inline mb-3" enctype="multipart/form-data">
            <div class="form-group col-8 col-md-10 pl-0">
              <input class="form-control w-100" type="search" placeholder="Введите специализацию" aria-label="Найти работу или стажировку">
            </div>
            <div class="form-group col-4 col-md-2 pl-0">
              <button class="btn btn-primary w-100" type="submit">Найти</button>
            </div>
          </form>
        </div>
      </div>
      <p class="text-center pt-1">{{ object_list.count }} вакансий</p>
      {% else %}
      <h1 class="h1 text-center mx-auto mt-4 pt-5" style="font-size: 70px;"><strong>{{ specialty }}</strong></h1>
      <p class="text-center pt-1">Найдено {{ object_list.count }} вакансий</p>
      {% endif %}
      <div class="row mt-5">
        <div class="col-12 col-lg-8 offset-lg-2 m-auto">
          {% for vacancy in object_list %}
          <div class="card mb-4">
            <div class="card-body px-4">
              <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                  <h2 class="h2 pb-2">{{ vacancy.title }}</h2>
                  <p class="mb-2">{{ vacancy.skills|to_circle:"," }}</p>
                  <p>От {{ vacancy.salary_min|intcomma }} до {{ vacancy.salary_max|intcomma }} руб.</p>
                  <p class="text-muted pt-1">{{ vacancy.published_at|date:"j E" }}</p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                  <a href="{% url 'single-vacancy' pk=vacancy.pk %}">
                    {% if vacancy.company.logo %}
                    <img src="{{ vacancy.company.logo.url }}" width="130" height="80" alt="">
                    {% else %}
                    <p>Логотип</p>
                    {% endif %}
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </main>
{% endblock %}
